<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>
            <h1>
                Training Management System
            </h1>
        </header>

        <footer> 2020 All Rights Reserved</footer>
        
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
